* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px;
    background: #0062be;
    transition: 0.5s;
}
header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
}
header .logo {
    position: relative;
    max-width: 80px;
}
header ul {
    position: relative;
    display: flex;
    list-style: none;
}
header ul li a {
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-weight: 400;
    margin-left: 40px;
}
.content {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.content .textBox {
    position: relative;
    max-width: 600px;
}
.content .textBox h2 {
    color: #fff;
    font-size: 4em;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 1.5em;
}
.content .textBox h2 span {
    font-size: 2em;
}
.content .textBox p {
    color: #fff;
}
.content .textBox a {
    color: #111;
    background: #fff;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 20px;
    text-decoration: none;
    letter-spacing: 1px;
    border-radius: 40px;
    text-transform: uppercase;
}
.content .imgBox {
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
    width: 600px;
    padding-right: 50px;
}
.content .imgBox img {
    max-width: 260px;
}
.tumb {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
}
.tumb ul {
    list-style: none;
}
.tumb li {
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
}
.tumb li:hover {
    transform: translateY(-15px);
}
.tumb li img {
    max-width: 40px;
}
.sci {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 30px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sci li a {
    display: inline-block;
    filter: invert(1);
    margin: 5px 0;
    transform: scale(0.6);
}
@media (max-width: 991px)
{
    section {
        padding: 40px;
        padding-bottom: 140px;
    }
    header {
        padding: 20px 40px;
    }
    header .logo {
        max-width: 60px;
    }
    header ul {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #fff;
        z-index: 1;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: 0.2s;
        visibility: hidden;
        opacity: 0;
    }
    header ul.active {
        visibility: visible;
        opacity: 1;
    }
    header ul li a {
        color: #111;
        font-size: 2em;
        margin-left: 0;
        margin: 10px 0;
        font-weight: 700;
    }
    header ul li a:hover {
        color: #ed0223;
    }
    .toggleMenu {
        position: relative;
        width: 40px;
        height: 40px;
        background: url(img/menu.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        z-index: 2;
    }
    .toggleMenu.active {
        background: url(img/close.png);
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
        filter: invert(1);
    }
    .content {
        margin-top: 80px;
        flex-direction: column;
    }
    .content .textBox {
        position: relative;
        max-width: 100%;
        padding-right: 20px;
    }
    .content .textBox h2 {
        font-size: 3em;
    }
    .content .textBox a {
        padding: 8px 15px;
        font-size: 15px;
    }
    .content .imgBox {
        width: 100%;
        padding-right: 0;
        margin-top: 50px;
        justify-content: center;
    }
    .content .imgBox img {
        max-width: 150px;
    }
    .tumb li img {
        max-width: 30px;
    }
    .sci {
        right: 0;
        background: rgba(0,0,0,0.2);
    }
}